configuration {
    modi:           "drun,run,window";
    show-icons:     true;
    icon-theme:     "Papirus";
    scroll-method:  1;
    kb-row-up:   "Alt+k";
    kb-row-down: "Alt+j";
}

@theme "~/.config/rofi/theme.rasi"
