configuration {
    modi:           "drun,calc";
    show-icons:     true;
    scroll-method:  1;
    case-smart: true;
    disable-history: true;
    kb-remove-to-eol: "Control+p";
    kb-accept-entry: "Control+n,Return";
    kb-mode-complete: "Control+Page_Down";
    kb-remove-char-back: "BackSpace";
    kb-move-char-back: "Control+b";
    kb-move-char-forward: "Control+f";
    kb-row-left: "Control+h,Left";
    kb-row-up:   "Control+k,Up";
    kb-row-down: "Control+j,Down";
    kb-row-right: "Control+l,Right";
}

@theme "~/.config/rofi/themes/theme.rasi"
