@import "~/.config/themes/current/theme/rofi.rasi"

* {
  background-color: transparent;
  text-color:       @text;
  font:             "JetBrainsMono Nerd Font 10";
}

window {
  location:         center;
  fullscreen:       false;
  width:            1800px;
  x-offset:         0px;
  y-offset:         0px;
  enabled:          true;
  margin:           0px;
  padding:          0px;
  border:           2px solid;
  // border-radius:    16px;
  border-color:     @border;
  background-color: @background;
}

mainbox {
  enabled:          true;
  spacing:          10px;
  margin:           0px;
  padding:          10px;
  background-color: @background;
  children:         [ "inputbar", "listview" ];
}

inputbar {
  background-color: rgba(255,255,255,0.07);
  border:           1px solid;
  border-color:     @border;
  // border-radius:    8px;
  padding:          10px 12px;
  children:         [entry];
}

entry {
  placeholder:       " Search background...";
  placeholder-color: @border;
  text-color:        @selected-text;
  cursor-color:      transparent;
}

listview {
  background-color: @base;
  border:           1px solid;
  border-color:     @border;
  // border-radius:    8px;
  columns:          5;
  lines:            1;
}

element {
  orientation:      vertical;
  padding:          0;
  background-color: transparent;
}

element-icon {
  size:             250px;
}

element-text {
  font:            "sans-serif 11";
  horizontal-align: 0.5;
  text-color:      inherit;
}

element selected {
  background-color: rgba(255,255,255,0.07);
  border:           2px;
  border-color:     @selected-text;
  text-color:       @selected-text;
}
