@import "~/.config/themes/current/theme/rofi.rasi"

* {
    background-color: transparent;
    text-color:       @text;
    font:             "JetBrainsMono Nerd Font 10";
}

window {
    background-color: @base;
    border:           1px solid;
    border-color:     @border;
    border-radius:    25px;
    width:            350px;
    height:           800px;
    location:         center;
    padding:          20px;
    // spacing:          10px;
}

mainbox {
    spacing:  10px;
    children: [inputbar, listview];
}

inputbar {
    background-color: transparent;
    border:           1px solid;
    border-color:     @border;
    border-radius:    8px;
    padding:          10px 12px;
    children:         [entry];
}

entry {
    placeholder:       " Search theme...";
    placeholder-color: @border;
    text-color:        @selected-text;
    cursor-color:      transparent;
}

listview {
    background-color: @base;
    border:           1px solid;
    border-color:     @border;
    border-radius:    18px;
    columns:          1;
    lines:            8;
    scrollbar:        false;
}

element {
    padding:          0;
    border-radius:    12px;
    background-color: transparent;
    text-color:       @text;
    orientation:      vertical;
    children:         [element-text, element-icon];
}

element-icon {
    size:           210px;
}

element-text {
    horizontal-align: 0.5;
    font:             "sans-serif 11";
    text-color:       inherit;
}

element selected {
    background-color: rgba(255,255,255,0.07);
    border:           1px;
    border-color:     @selected-text;
    text-color:       @selected-text;
}

element selected .element-icon {
    text-color: @selected-text;
}
