[Unit]
Description=SwayOSD Display Server
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=dbus
BusName=org.erikreider.swayosd
ExecStart=/usr/bin/swayosd-server
Restart=on-failure

[Install]
WantedBy=graphical-session.target
