:root {
--color00: #28282876;
--color01: #22162c9b;
--color02: #22162cb3;
--color03: #a9a9a9;
--color04: #dcdcdc;
--color05: #ffffff;
--color06: #dcdcdc;
--color07: #ffffff;
--color08: #332242;
--color09: #9865c6;
--color0A: #cba9ea;
--color0B: #654384;
--color0C: #ba8de3;
--color0D: #a970dc;
--color0E: #9865c6;
--color0F: #55386e;
}
