@import "../../../themes/current/theme/walker.css";

* {
  all: unset;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 36px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  /* background: @base; */
  /* width: 100%; */
  /* height: 100%; */
  /* padding: 12px; */
  /* border-radius: 27px; */
  /* border: 2px solid @border; */
  /* box-shadow: inset 0 0 9px @border; */
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @text;
}

.box {
  background: @background;
  padding: 10px;
  border-radius: 17px;
  border: 2px solid @border;
}

.search-container {
  border-radius: 10px;
  border: 2px solid @border;
}

.input placeholder {
  opacity: 0.5;
}

.input {
  box-shadow: inset 0 0 9px @border;
  background: @base;
  color: @selected-text;
  caret-color: @text;
  padding: 10px;
}

.list {
  box-shadow: inset 0 0 9px @border;
  color: @text;
  border-radius: 10px;
  border: 1.5px solid @border;
}

.item-box {
  border-radius: 10px;
  padding: 10px;
}

child,
child > * {
}

child:hover .item-box {
}

child:selected .item-box {
}

child:selected .item-box * {
  color: @selected-text;
  transition : all 0.1s ease-in;
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  /* border-top: 1px solid @selected; */
  /* padding: 10px; */
  /* border-radius: 10px; */
  /* color: @text; */
}

.calc .item-text {
  font-size: 24px;
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.primarytooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds-wrapper {
  border-top: 1px solid @selected;
  font-size: 12px;
  color: @selected;
}

.keybind {
  color: #99A8A4;
}

.keybind-bind {
  font-weight: bold;
  text-transform: lowercase;
}

.error {
  padding: 10px;
  background: #933636;
  color: @base;
}

:not(.calc).current {
  font-style: italic;
}
